.DS_Store

/public/*
/shared/*
!.keep
*.rdb
*.DS_Store
*.swo
*.swp
/.bundle
/.env
/.foreman
/coverage/*
/db/*.sqlite3
/tags
/tmp/*
/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
!/log/.keep
/tmp
.ruby-gemset
spec/examples.txt
